page-register {
  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  };

  span {
    text-transform: capitalize;
    margin-left: 4%;
  }

  .insideIcon {
    position: absolute;
    left: 5%;
    top:30%;
  }

}
