<!--
  Generated template for the ListVolesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title> <span style="font-size: 17px">{{words.click_on_flight_for_reserve_message_string}}</span></ion-title>
        <ion-buttons end>
            <mytoolbar></mytoolbar>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let vol of vols; let i = index" (click)="pickVol(vol,i)">

        <ion-card-header text-center >
            {{vol.countryDepart}} --> {{vol.countryArrive}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>

                <ion-row>
                    <ion-col>{{words.departure_date_string}} </ion-col><ion-col>{{vol.dateDepart | mydate}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.departure_hour_string}}  </ion-col><ion-col>{{vol.dateDepart | mytime}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.arrival_date_string}}  </ion-col><ion-col>{{vol.dateArrive | mydate}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.arrival_hour_string}}  </ion-col><ion-col>{{vol.dateArrive | mytime}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.price_string}} </ion-col> <ion-col>{{vol.prix}} DH TTC</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.nbre_max_place_string}} </ion-col> <ion-col>{{vol.avion.nbrePlcMax}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.remaining_places_string}} </ion-col> <ion-col>{{vol.nbrePlace}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{words.airplane_string}} : </ion-col> <ion-col>{{vol.avion.nom}}</ion-col>
                    <ion-fab end *ngIf="ind == i">
                        <button color="success" ion-fab mini>
                            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                        </button>
                    </ion-fab>
                </ion-row>
            </ion-grid>

        </ion-card-content>


    </ion-card>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
