page-home {

  .slide1 {
    background: url("../../assets/imgs/slide1.jpg") fixed center no-repeat;
    background-size: 100% 100%;
  }

  .slide2 {
    background: url("../../assets/imgs/slide2.jpg") fixed center no-repeat;
    background-size: 100% 100%;
  }

  .slide3 {
    background: url("../../assets/imgs/slide3.jpg") fixed center no-repeat;
    background-size: 100% 100%;
  }

}
