<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inscription</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form novalidate
        (ngSubmit)="register()"
        [formGroup]="myform">

    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> Email *
                    </ion-label>

                    <ion-input type="text"
                               name="email"
                               [(ngModel)]="user.email"
                               formControlName="email" > </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.email" [messages]="myform.emailMessages"></s-errors>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> Nom *
                    </ion-label>

                    <ion-input type="text"
                               name="nom"
                               [(ngModel)]="user.nom"
                               formControlName="nom"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.nom" [messages]="myform.nomMessages"></s-errors>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> prenom *
                    </ion-label>

                    <ion-input type="text"
                               name="prenom"
                               [(ngModel)]="user.prenom"
                               formControlName="prenom"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.prenom" [messages]="myform.prenomMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> Date de naissance *
                    </ion-label>

                    <ion-datetime displayFormat="MMM DD YYYY"
                                  name="dateNaiss"
                                  [(ngModel)]="user.dateNaiss"
                                  formControlName="dateNaiss"></ion-datetime>

                </ion-item>

                <s-errors [control]="myform.controls.dateNaiss" [messages]="myform.dateNaissMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> CIN *
                    </ion-label>

                    <ion-input type="text"
                               [(ngModel)]="user.cin"
                               name="cin"
                               formControlName="cin"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.cin" [messages]="myform.cinMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-5>
                <ion-item>

                    <ion-label floating> code *
                    </ion-label>

                    <ion-select submitText="Ok" cancelText="Annuler" name="code" formControlName="code">
                        <ion-option></ion-option>
                        <ion-option *ngFor="let country of countries" value="{{country.numericCode}}">
                             + {{country.numericCode}}&nbsp; {{country.translations.fr}}
                        </ion-option>
                    </ion-select>

                </ion-item>

                <s-errors [control]="myform.controls.code" [messages]="myform.codeMessages"></s-errors>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label floating>telephone *</ion-label>
                    <ion-input type="number"
                               [(ngModel)]="user.tel"
                               name="tel"
                               formControlName="tel"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.tel" [messages]="myform.telMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                <ion-label floating> Mot de passe *
                </ion-label>

                <ion-input type="password"
                           [(ngModel)]="user.password"
                           name="password"
                           formControlName="password"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.password" [messages]="myform.passwordMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> Confirmation du  mot de passe *
                    </ion-label>

                    <ion-input type="password"
                               name="passwordConf"
                               formControlName="passwordConf"> </ion-input>

                </ion-item>

                <s-errors [control]="myform.controls.passwordConf" [messages]="myform.passwordConfMessages"></s-errors>
                <span padding-left class="errorText"
                      *ngIf="(myform.controls.passwordConf.value != user.password) &&
                              myform.controls.passwordConf.value.trim().length> 0 &&
                              (myform.controls.passwordConf.dirty || myform.controls.passwordConf.touched)" >
                    Confirmation de mot de passe est non egal
                </span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>

                    <ion-label floating> Nationnalite *
                    </ion-label>

                    <ion-select submitText="Ok" cancelText="Annuler"
                                name="nationnalite"
                                [(ngModel)]="user.nationnalite"
                                formControlName="nationnalite">

                        <ion-option *ngFor="let country of countries" value="{{country.name}}">
                             {{country.translations.fr}}
                        </ion-option>
                    </ion-select>

                </ion-item>

                <s-errors [control]="myform.controls.nationnalite" [messages]="myform.nationnaliteMessages"></s-errors>
            </ion-col>
        </ion-row>

        <ion-row padding-top>
            <ion-col>
                <button ion-button color="primary" type="submit"
                        [disabled]="myform.invalid" block>S'inscrire</button>
            </ion-col>
        </ion-row>
    </ion-grid>

  </form>


</ion-content>
