<!--
  Generated template for the ListAvionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Liste de nos avions</ion-title>
        <ion-buttons end >
            <button ion-button (click)="dismiss()" *ngIf="isModal">
                <span ion-text color="primary" showWhen="ios">Annuler</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>

            <mytoolbar *ngIf="!isModal"></mytoolbar>

        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding >

    <ion-card *ngFor="let avion of avions; let i = index"  (click)="pickAvion(avion,i)">

        <img src="{{avion.imageURL}}">

        <ion-fab end margin-top *ngIf="ind == i && isAdmin">
            <button color="success" ion-fab mini>
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
            </button>
        </ion-fab>

        <ion-item>
            <h2>{{avion._nom}}</h2>
            <p>{{avion._description}}</p>
            <p>{{avion._nbrePlcMax}} max de places </p>
        </ion-item>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <ion-fab right bottom *ngIf="isAdmin && !isModal">
        <button ion-fab color="danger" (click)="goToAddAvion()"><ion-icon name="add" ></ion-icon></button>
    </ion-fab>

</ion-content>
